<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "edu.brandeis.cosi.jbs2012.spygame"
	version 	= "0.0.1">

	<name>SpyGame</name>

	<description>
		A game so devious you don't even know that you're playing
	</description>

	<author href="https://github.com/emosenkis/SpyGameApp"
		email="mosenkis@brandeis.edu">
		The SpyGame Team
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />

	<access origin="http://code.jquery.com" />
	<access origin="http://people.brandeis.edu" />
	<access origin="https://herokuapp.com" subdomains="true" />
</widget>
